html{
  background-color: rgba(252, 203, 218, 0.1);
}
#game-header {
  font-size: 4rem;
  height: 100px;
  padding: 2rem 0;
  margin-bottom: 1rem;
  /* border: 1px solid; */
  text-align: center;
}

#game-header .game-flavour {
  font-size: 2rem;
}

#game-body {
  display: flex;
}

/* left nav bar */
/* #game-body > div {
  border: 1px solid greenyellow;
} */

.game-nav {
  position: sticky;
  padding: 1rem;
}

.menu-lv1-container {
  margin-bottom: 0.5rem;
}

/* middle playroom */
.game-playroom {
  flex-grow: 1;
  padding: 2rem;
}

/* right skill */
.game-skill {
  padding: 2rem;
  width: 300px;
}

/* game icons */
.game-icon-lv1 {
  padding-left: 1rem;
}

/* skill-border */
.skill-intro {
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: #ff7eb3;
}